@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-textPrimary min-h-screen;
}

a {
  @apply text-primary hover:opacity-80 transition-opacity;
}

